<!-- Navbar -->
<!-- <div class="navbar" role="banner">
    <img
    width="80"
    alt="LezzGo Logo"
    src="../assets/LezzGo_full_logo_dropShadow.svg"
    />
      <div class="spacer"></div>
      <a *ngIf="loggedIn"  routerLink="/dashboard" class="nav__link" title="Tableau de bord">
        <span class="nav">Tableau de bord</span>
      </a>
      <a *ngIf="loggedIn" routerLink="/project" class="nav__link" title="Projet">
        <span class="nav">Projet en cours</span>
      </a>
      <a *ngIf="loggedIn" routerLink="/profile" class="nav__link" title="Profil">
        <span class="nav">Profil</span>
      </a>      
      <a *ngIf="loggedIn" routerLink="/login" class="nav__link" title="Déconnexion">
        <span class="nav">Déconnexion</span>
      </a>      
      <button
      *ngIf="!loggedIn" 
      (click)="openModal()" 
      class="nav__link">
        <span class="nav">Connexion</span>
      
      </button>
      
  </div> -->


  <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-white">
    <a class="navbar-brand" routerLink="/">
      <img alt="LezzGo Logo" src="../assets/LezzGo_full_logo_dropShadow.svg" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div *ngIf="loggedIn" class="navbar-nav">
        <a class="nav-item nav-link active nav__link" routerLink="/dashboard" title="Tableau de bord">Tableau de bord <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link nav__link" routerLink="/projects" title="Projet">Projets</a>
        <button class="nav-item nav-link nav__link" routerLink="/login" title="Déconnexion">Déconnexion</button>
      </div>
      <div *ngIf="!loggedIn" class="navbar-nav">
        <button class="nav-item nav-link nav__link" routerLink="/dashboard" title="Connexion">Connexion</button>
      </div>
    </div>
  </nav>