<!-- Toolbar -->
<div class="navbar" role="banner">
    <img
    width="80"
    alt="LezzGo Logo"
    src="../assets/LezzGo_full_logo_dropShadow.svg"
    />
      <div class="spacer"></div>
      <a  routerLink="/dashboard" class="nav__link" title="Tableau de bord">
        <span class="nav">Tableau de bord</span>
      </a>
      <a routerLink="/project" class="nav__link" title="Projet">
        <span class="nav">Projet en cours</span>
      </a>
      <a routerLink="/profile" class="nav__link" title="Profil">
        <span class="nav">Profil</span>
      </a>      
      <a routerLink="/login" aria-label="Login Button" class="nav__link" title="Connexion">
        <span class="nav">Connexion</span>
      </a>
      
  </div>