.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}

.nav__link,
.nav__link:visited,
.nav__link:hover {
    margin: 0 20px;
    color: #001F62;
    text-decoration: none;
    font-weight: 500;
}

button.nav__link,
button.nav__link:hover {
   
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.navbar-brand img {
    width: 80px;
    margin-left: 30px;
}