<div class="container">
    <div class="row">
        <div class="col-md-12 mb-5 mt-5">
            <h2>
                Bienvenue, {{username}} !
            </h2>
        </div>
    </div>
    <div class="row g-4 py-2 row-cols-1 row-cols-md-2 row-cols-lg-3 text-center">
        <div class="col">
            <div class="nga-card-step p-4">
                <a  href="/landing-page">
                    <i class="fa-3x fa-address-card fa-solid mb-2 nga-text-primary"></i>
                    <h3 class="h4 fw-bold">InfoZZ</h3>
                </a>
            </div>
        </div>
        <div class="col">
            <div class="nga-card-step p-4">
                <a href="/friends">
                    <i class="fa-3x fa-user-group fa-solid mb-2 nga-text-primary"></i>
                    <h3 class="h4 fw-bold">FriendZZ</h3>
                </a>
            </div>
        </div>
        <div class="col">
            <div class="nga-card-step p-4">
                <a href="/projects">
                    <i class="fa-3x fa-compass fa-solid mb-2 nga-text-primary"></i>
                    <h3 class="h4 nga-text-primary fw-bold">ProjectZZ</h3>
                </a>
            </div>
        </div>
        <div class="col">
            <div class="nga-card-step p-4">
                <a href="/activities">
                    <i class="fa-3x fa-mountain-city fa-solid mb-2 nga-text-primary"></i>
                    <h3 class="h4 nga-text-primary fw-bold">HobbieZZ</h3>
                </a>
            </div>
        </div>
        <div class="col">
            <div class="nga-card-step p-4">
                <a href="/lodgings">
                    <i class="fa-3x fa-bed fa-solid mb-2 nga-text-primary"></i>
                    <h3 class="h4 nga-text-primary fw-bold">LodgingZZ</h3>
                </a>
            </div>
        </div>
        
</div>




