<div class="project-box">
    <div class="project-box__friends">
        <div class="project-box__friends--item">
            <div class="friend__box">
                <img class="friend__box--img" src="../../assets/avatar.jpg" alt="">
            </div>
            <div class="friend__name">
                <p>Pseudo 1</p>
            </div>
        </div>
        <div class="project-box__friends--item">
            <div class="friend__box">
                <img class="friend__box--img" src="../../assets/avatar-2.jpg" alt="">
            </div>
            <div class="friend__name">
                <p>Pseudo 2</p>
            </div>
        </div>
        <div class="project-box__friends--item">
            <div class="friend__box">
                <img class="friend__box--img" src="../../assets/avatar.jpg" alt="">
            </div>
            <div class="friend__name">
                <p>Pseudo 3</p>
            </div>
        </div>
        <div class="project-box__friends--item">
            <div class="friend__box">
                <img class="friend__box--img" src="../../assets/avatar-2.jpg" alt="">
            </div>
            <div class="friend__name">
                <p>Pseudo 4</p>
            </div>
        </div>
    </div>
    <div class="project-box__modif">
        <div class="project-box__modif--item">
            <img class="modif__item--img" src="../../assets/LezzGo_edit_button.svg" alt="">
        </div>
        <div class="project-box__modif--item">
            <img class="modif__item--img" src="../../assets/LezzGo_add_button.svg" alt="">
        </div>
    </div>
</div>
