.bloc__btn {
    display: flex;
    align-items: center;
    background-color: #FF8975;
    height: 32px;
    border-radius: 25px;
    border-style: none;
    color: #000;
    cursor: pointer;
    font-weight: 500;
    justify-content: center;
    padding: 2px 24px;
    }


    .bloc__btn:hover {
    background: #F6F9FE;
    color: #174ea6;
    }

    .bloc__btn:active {
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
    outline: none;
    }

    .bloc__btn:focus {
    outline: none;
    border: 2px solid #4285f4;
    }

    .bloc__btn a,
    .bloc__btn a:visited
     {
    color: #fff;
    text-decoration: none;
  }

  .bloc__btn:hover a{
    color: #125699;
  }