<!--Connexion-->
<div class="bloc__modal">
    <div class="bloc__modal--titre">
      <h2 class="modal__titre--h2">Connexion</h2>
      <a routerLink="/register" class="modal__titre--h5">
        Rejoindre
      </a>
    </div>
    <div class="bloc__modal--input">
      <form action="">
        <label for="">Username</label>
        <input class="modal__input" type="text" >
        <label for="">Mot de passe</label>
        <input class="modal__input" type="password" >
      </form>
      <a href="reset.html">Mot de passe oublié? </a>
    </div>
    <app-button></app-button>
</div>

<!--Inscription-->
<div id="register" class="bloc__modal">
    <div class="bloc__modal--titre">
        <h2 class="modal__titre--h2">Rejoindre</h2>
        <h5 class="modal__titre--h5">Connexion</h5>
    </div>
    <div class="bloc__modal--input">
        <label for="">Username</label>
        <input class="modal__input" type="text" >
        <label for="">Adresse mail</label>
        <input class="modal__input" type="text" >
        <label for="">Mot de passe</label>
        <input class="modal__input" type="password" >
        <label for="">Confirmer mot de passe</label>
        <input class="modal__input" type="password" >
    </div>
    <app-button></app-button>
</div>