<div class="container">
    <div class="row mb-4">
        <div class="col-md-12 mb-5 mt-5">
            <h2 class="text-center">
                Mon profil
            </h2>
        </div>
    </div>
    <div class="row mb-4">
        <select title="Select your surfboard" class="selectpicker">
            <option>Select...</option>
            <option data-thumbnail="assets/LezzGo_avatar1.svg">Chrome</option>
            <option data-thumbnail="images/icon-firefox.png">Firefox</option>
            <option data-thumbnail="images/icon-ie.png">IE</option>
            <option data-thumbnail="images/icon-opera.png">Opera</option>
            <option data-thumbnail="images/icon-safari.png">Safari</option>
          </select>
    </div>
    <div class="row mb-4">
        <div class="col">
            <h4>Pseudo: </h4>
        </div>
        <div class="col">
            <app-edit-popup></app-edit-popup>
            <app-edit-popup></app-edit-popup>
        </div>
        
    </div>
    <div class="row mb-4">
        <div class="col">
            <h4>Nom: </h4>
        </div>
        <div class="col">
            <app-edit-popup></app-edit-popup>
            <app-edit-popup></app-edit-popup>
        </div>
        
    </div>
    <div class="row mb-4">
        <div class="col">
            <h4>Prénom: </h4>
        </div>
        <div class="col">
            <app-edit-popup></app-edit-popup>
            <app-edit-popup></app-edit-popup>
        </div>        
    </div>
    <div class="row mb-4">
        <div class="col">
            <h4>Email: </h4>
        </div>
        <div class="col">
            <app-edit-popup></app-edit-popup>
            <app-edit-popup></app-edit-popup>
        </div>
        
    </div>

</div>
