<div class="container">
    <div class="row mb-4">
        <div class="col-md-12 mb-5 mt-5">
            <h2 class="text-center">
                Mon profil
            </h2>
        </div>
    </div>
    <div class="row mb-4">
        <div *ngFor="let src of avatarSrc, let index=index">
            <div class="custom-control custom-radio mb-2">
                <img src="{{src}}" alt="" width="40" style="margin-right: 10px;">
                <input type="radio" id="customRadio{{index}}" name="customRadio" class="custom-control-input">
                <label class="custom-control-label" for="customRadio1">Choisir cet avatar</label>
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col">
            <h4>Pseudo: </h4>
        </div>
        <div class="col">
            <app-edit-popup></app-edit-popup>
            <app-delete-popup></app-delete-popup>
        </div>
        
    </div>
    <div class="row mb-4">
        <div class="col">
            <h4>Nom: </h4>
        </div>
        <div class="col">
            <app-edit-popup></app-edit-popup>
            <app-delete-popup></app-delete-popup>
        </div>
        
    </div>
    <div class="row mb-4">
        <div class="col">
            <h4>Prénom: </h4>
        </div>
        <div class="col">
            <app-edit-popup></app-edit-popup>
            <app-delete-popup></app-delete-popup>
        </div>        
    </div>
    <div class="row mb-4">
        <div class="col">
            <h4>Email: </h4>
        </div>
        <div class="col">
            <app-edit-popup></app-edit-popup>
            <app-delete-popup></app-delete-popup>
        </div>
        
    </div>

</div>
