<div class="sidenav">  
    <div class="sidenav__avatar">
      <img src="../assets/avatar.jpg" alt="avatar" class="sidenav__avatar--img">
    </div>
    <h2 class="sidenav__username">Deer&Doe</h2>
    <div class="sidenav__userinfo">
      <p class="sidenav__userinfo--lastname">Doe</p>
      <p class="sidenav__userinfo--firstname">John</p>
      <p class="sidenav__userinfo--email">jdoe@wireframe.com</p>
    </div>
    <app-button></app-button>  
    <div class="sidenav__logo">
      <img
      class="sidenave__logo--img"
      alt="LezzGo Logo"
      src="../assets/LezzGo_full_logo_dropShadow.svg"
      />
    </div>
  </div>
