<div class="container">
    <div class="row mb-4">
        <div class="col-md-12 mb-5 mt-5">
            <h2 class="text-center">
                Projets
            </h2>
        </div>
    </div>
    <div class="row mb-4 ">
        <div class="col">
            <app-popup text="Nouveau Projet">
                <form action="" method="post">
                    <div class="form-group">
                        <label for="newProjectInput">Nom du projet</label>
                        <input type="text" class="form-control" id="newProjectInput" placeholder="Nom du projet">
                    </div>
                </form>
            </app-popup>
            <span class="h4"> Créer un projet</span>
        </div>
    </div>
    <app-search-bar recherche="projet" [data]="projects"></app-search-bar>
    <div class="row mb-4">
        <div class="col">
            <h3>Projets que tu as créés</h3>
        </div>
    </div>
    <div class="row mb-4 g-5 py-2 row-cols-1 row-cols-md-2 row-cols-lg-4 text-center">        
        <div *ngFor="let project of projects$| async" [class.selected]="project.id === selectedId" class="col">
            <div class="nga-card-step p-4">
                <a [routerLink]="['/project', project.id]">
                    <i class="fa-3x fa-compass fa-solid mb-2 nga-text-primary"></i>
                    <h3 class="h4 nga-text-primary fw-bold">{{project.name}}</h3>
                </a>
            </div>
        </div>
    </div>    
    <div class="row mb-4">
        <div class="col">
            <h3>Projets auxquels tu participes</h3>
        </div>
    </div>
    <div class="row mb-4 g-5 py-2 row-cols-1 row-cols-md-2 row-cols-lg-4 text-center">        
        <div class="col">
            <div class="nga-card-step p-4">
                <a href="/projects">
                    <i class="fa-3x fa-compass fa-solid mb-2 nga-text-primary"></i>
                    <h3 class="h4 nga-text-primary fw-bold">{{projectName}}</h3>
                </a>
            </div>
        </div>
        <div class="col">
            <div class="nga-card-step p-4">
                <a href="/projects">
                    <i class="fa-3x fa-compass fa-solid mb-2 nga-text-primary"></i>
                    <h3 class="h4 nga-text-primary fw-bold">{{projectName}}</h3>
                </a>
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col">
            <h3>Projets archivés</h3>
        </div>
    </div>
    <div class="row mb-4 g-5 py-5 row-cols-1 row-cols-md-2 row-cols-lg-4 text-center">        
        <div class="col">
            <div class="nga-card-step p-4">
                <a href="/projects">
                    <i class="fa-3x fa-compass fa-solid mb-2 nga-text-primary"></i>
                    <h3 class="h4 nga-text-primary fw-bold">{{projectName}}</h3>
                </a>
            </div>
        </div>
    </div>

        
</div>





